@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
  /*  min-height: 100vh;*/
    background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/6e32b96a-d4be-4e44-a19b-1bd2d2279b51/ee068656-14b9-4821-89b4-53b4937d9f1c/IN-en-20220516-popsignuptwoweeks-perspective_alpha_website_small.jpg);
  background-size:  cover;
  position: relative;
}
.App ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Change the last value to adjust darkness. 0.5 is 50% opacity. */
    z-index: 1;}
section {
    margin-top: 25px;
    width: 100%;
    max-width: 420px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
    border: #fff solid 1px;
}
section h1,button,input{
    position: relative;
    z-index: 2;
}
section input{
    opacity: .4;
}
section button{
    font-size: 16px;
        padding: .2rem 1.5rem;
        border: 0;
        height: 54px;
        font-weight: bolder;
        cursor: pointer;
        color :rgb(255, 255, 255);
        background-color: rgb(255, 30, 0);
        width:300px ;
        margin: auto;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}
.link_form{
    text-decoration: none;
    position: relative;
    z-index: 2
}
a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
    z-index: 2;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    z-index: 2;
}

.line {
    display: inline-block;
}

 /*Homepage*/

.home-banner{
    height: 100vh;
    overflow: hidden;
    h1{
      font-size: 2rem;
    }
    h2{
      font-size: 1.625rem;
    }
    .shadow{
      background-color: rgba(0,0,0,.4);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
    img{
      max-width: 100%;
      z-index: -1;
      
    }
    .our-story{
      position: absolute;
      color: white;
      text-align: center;
      top: 35%;
      width: 600px;
      left: calc(50% - 300px);
      z-index: 1;
    }
    .input-group{
      input{
        height: 54px;
        padding: .2rem 1rem;
        border-radius: 6px;
        opacity: .2;
        border: #fff;
        margin: 10px;
      }
  
      button{
        font-size: 16px;
        padding: .2rem 1.5rem;
        border: 0;
        height: 54px;
        font-weight: bolder;
        cursor: pointer;
        color :rgb(255, 255, 255);
        background-color: rgb(255, 30, 0);
        width:176.73px ;
      }
    }
  }
  
/* header*/
  header{
    background-color: transparent;
    position: fixed;
    z-index: 100;
    left:0;
    top: 0;
    width: 100%;
    transition: all ease 600ms;
}
header.black-bg{
    background-color: rgb(20, 20, 20);
}
.header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-cont, .right-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-brand{
    max-width: 110px;
}
.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}
.nav-item{
    margin-right: 20px;
    color: #e5e5e5;
    opacity: .83;
}
.nav-item.active{
    color: white;
    opacity: 1;
    font-weight: 500;
}
.right-cont svg,  .right-cont img{
    margin-right: 22px;
    cursor: pointer;
}
.right-cont svg{
    color: white;
}
.right-cont img{
    max-width:40px;
}
.nav__logo{
    width:90px ;
    height: 40px;
    margin: 10px;
}
#login_nav{
    font-size: 16px;
    padding: 10px;
    border: 0;
    height: 40px;
    font-weight: bolder;
    cursor: pointer;
    color :rgb(255, 255, 255);
    background-color: rgb(255, 30, 0);
    width:90px ;
    border-radius: 10px ; 
    margin: 5px;
    text-decoration: none;
    text-align: center;
}
  /* profile*/
  .user-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .user-settings-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .user-settings-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .user-settings-form input {
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .user-settings-form button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .user-settings-form button:hover {
    background-color: darkred;
  }
  .list {
    padding: 20px;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row__posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row__poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .row__posterLarge {
    width: 200px;
    height: 300px;
    margin: 3px;
  }
  
